<div>
    <h1>
        Rock Paper Scissor game!
    </h1>


    <div *ngIf="rockPaperScissorTurn">
        <div>
            You played: {{rockPaperScissorTurn.player1ToString()}}
        </div>
        <div>
            Computer played: {{rockPaperScissorTurn.player2ToString()}}
        </div>

        <div>
            {{rockPaperScissorTurn.result}}
        </div>
    </div>


    <button (click)="play(rockValue)">
        Rock
    </button>

    <button (click)="play(paperValue)">
        Paper
    </button>

    <button (click)="play(scissorValue)">
        Scissor
    </button>
</div>