<div class="container title">

    <h1>
        Rock Paper Scissor game
    </h1>

</div>
<div class="container result">
    <div *ngIf="rockPaperScissorTurn">
        <div class="turn-result-label">
            {{rockPaperScissorTurn.result}}
        </div>

        <div>
            You played:
            <span class="played">{{rockPaperScissorTurn.player1ToString()}}</span>
        </div>
        <div>
            Computer played:
            <span class="played">{{rockPaperScissorTurn.player2ToString()}}</span>
        </div>
    </div>
</div>
<div class="container-buttons">


    <button class="play-btn rock"
        (click)="play(rockValue)">
        Rock
    </button>

    <button class="play-btn paper"
        (click)="play(paperValue)">
        Paper
    </button>

    <button class="play-btn scissor"
        (click)="play(scissorValue)">
        Scissor
    </button>
</div>